# CMake build directories
cmake-build-debug/
CMakeFiles/
build/

# CLion IDE specific files
.idea/
*.iml
*.ipr
*.iws

# Common temporary and backup files
*.swp
*.swo
*.bak
*.tmp

# Build Tools
CMakePresets.json
cmake/*

# AI knowledge
.*
knowledge/
